[submodule "product_classification"]
	path = product_classification
	url = git@github.com:GustavoRequiez/product_classification.git
	branch = master

[submodule "delivery_slip_rqz"]
	path = delivery_slip_rqz
	url = git@github.com:GustavoRequiez/delivery_slip_rqz.git
	branch = master
