[submodule "product_classification"]
	path = product_classification
	url = git@github.com:GustavoRequiez/product_classification.git
	branch = master

[submodule "delivery_slip_rqz"]
	path = delivery_slip_rqz
	url = git@github.com:GustavoRequiez/delivery_slip_rqz.git
	branch = master

[submodule "remove_attachemnts_invoice"]
	path = remove_attachemnts_invoice
	url = git@github.com:GustavoRequiez/remove_attachemnts_invoice.git
	branch = master

[submodule "incoming_products_kardex"]
	path = incoming_products_kardex
	url = git@github.com:GustavoRequiez/incoming_products_kardex.git
	branch = master

[submodule "revenue_history_projection"]
	path = revenue_history_projection
	url = git@github.com:GustavoRequiez/revenue_history_projection.git
	branch = master
